<%= nested_form_for (@contact) do |f| %>

<% if @contact.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

  <ul>
    <% @contact.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>



<div class="row">
<div class="col-md-6">
    <div class="page-header">
      <h3> Add Contact </h3>
    </div>
    <div class="field">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </div>
  </div>

  
  <div class="col-md-6">
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">                  <span class="label label-default">Address</span></a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><span class="label label-default">Phone</span></a></li>

      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">


          <h3> Add Address </h3>
          <div class="field">

            <%= f.fields_for :addresses do |li| %>
            <%= li.text_field :address %>

            <%= li.link_to_remove "Remove item" %>
            <% end %>
            <%= f.link_to_add "Add Address ", :addresses %>


            <h3> Add Country </h3>


            <%= f.fields_for :addresses do |li| %>
            <%= li.text_field :country %>

            <%= li.link_to_remove "Remove item" %>
            <% end %>
            <%= f.link_to_add "Add Country ", :addresses %>
          </div>




        </div>



        <div role="tabpanel" class="tab-pane" id="profile">

          <h4> Add Phone Number </h4>
          <div class="field">

            <%= f.fields_for :phones do |li| %>
            <%= li.text_field :phone_number %>

            <%= li.link_to_remove "Remove item" %>
            <% end %>
            <%= f.link_to_add "Add Phone Number ", :phones %>



          </div>




        </div>

      </div>

    </div>





    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>




